html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #f5f5f5;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("/static/bg.jpg");
    background-repeat: no-repeat;
    background-size: contain cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: brightness(0.8) contrast(0.8);
    margin: 0;
}

nav {
    padding: 10px;
}

nav a {
    padding: 0 5px;
}

footer {
    height: 40px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    text-align: center;
    border: 1px solid black;
    padding: 4px 10px 4px 10px;
}

tbody tr:nth-child(even) {
    background-color: #dfe6fc9b;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.container {
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.dates-row {
    margin: 5px;
}

#chart-container {
    width: 85vw;
    background-color: #d9d9dae2;
    padding: 10px;
    display: none;
}

#teams-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
