<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% block extra_import %}
    {% endblock %}
</head>

<body>
    <nav>
        <span><a href="/">Home</a></span>
        <span><a href="/teams">Teams</a></span>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; SiriusKoan 2022</p>
    </footer>
</body>

</html>