{% extends "base.html" %}

{% block title %}Teams Standing{% endblock %}

{% block extra_import %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/input.css">
{% endblock %}

{% block content %}
<div id="form-container">
    <div id="dates-container">
        <form id="dates-form">
            <div class="dates-row">
                <label for="start-date">Start Date</label>
                <input type="date" id="start-date" name="start-date" value="{{ startDate }}">
            </div>
            <div class="dates-row">
                <label for="end-date">End Date</label>
                <input type="date" id="end-date" name="end-date" value="{{ endDate }}">
            </div>
        </form>
    </div>
    <div id="attrs-container">
        <select name="attrs-form" id="attrs-form">
            <option value="pct">PCT</option>
            <option value="division_rank">Division Rank</option>
            <option value="league_rank">League Rank</option>
            <option value="GB">Games Behind</option>
            <option value="WCGB">Wild Card Games Behind</option>
            <option value="XTRA_pct">RCT in Extra Inning Games</option>
            <option value="RS">Runs Scored</option>
            <option value="RA">Runs Allowed</option>
            <option value="home_pct">PCT at Home</option>
            <option value="away_pct">PCT When Away</option>
            <option value="vs_500_pct">PCT against >.500 Teams</option>
            <option value="one_run_pct">PCT in 1-run Games</option>
            <option value="day_games_pct">PCT in Day Games</option>
            <option value="night_games_pct">PCT in Night Games</option>
            <option value="grass_games_pct">PCT on Grass</option>
            <option value="turf_games_pct">PCT on Turf</option>
            <option value="vs_east_pct">PCT vs. East Teams</option>
            <option value="vs_central_pct">PCT vs. Central Teams</option>
            <option value="vs_west_pct">PCT vs. West Teams</option>
            <option value="vs_interleague_pct">PCT vs. Interleague Teams</option>
            <option value="vs_R_pct">PCT vs. Right-handed Starting Pitcher</option>
            <option value="vs_L_pct">PCT vs. Left-handed Starting Pitcher</option>
        </select>
    </div>
    <div id="teams-container">
        <form id="teams-form">
            <table id="teams-table">
                <tbody>
                    {% for i in range(0, 26, 5) %}
                    <tr>
                        {% for team in teams[i:i+5] %}
                        <td class="team-row">
                            <input type="checkbox" name="{{ team.id }}" id="{{ team.id }}">
                            <span class="team-data" title="{{ team.fullname }} @ {{ team.location }}">
                                {{ team.abbreviation }}
                            </span>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <input type="submit" value="Search" id="update-button">
</div>
<div id="chart-container">
    <!-- use chart.js to make chart -->
    <canvas id="standings-chart"></canvas>
</div>
<script src="/static/api.js"></script>
<script src="/static/chart.js"></script>
{% endblock %}